/* General Styles */
body {
    font-family: 'Century', 'Century Gothic', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0faff;
}

header, nav, footer {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

/* Hamburger Menu */
.hamburger {
    display: none; /* Hidden by default, shown in mobile view */
    cursor: pointer;
    font-size: 30px;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    max-height: 80vh;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover a {
    background-color: transparent;
}

/* Side Banner */
.side-banner {
    height: 100vh;
    width: 0; /* width zero initially */
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s; /* Smooth transition */
    padding-top: 60px; /* Space from top */
}

.side-banner a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.side-banner a:hover {
    color: #f1f1f1;
    background-color: #0056ff;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

article {
    width: 60%;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

article p {
    letter-spacing: 0.05em;
    line-height: 1.6;
}

footer {
    font-size: 0.8em;
    color: #666;
    background-color: #eee;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Media query for tablets and desktops */
@media (min-width: 768px) {
    article {
        max-width: 800px;
    }

    body {
        font-size: 16px;
    }
}

/* Media query for phones */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    header, nav, footer {
        padding: 0.5rem;
    }

    article {
        width: 95%;
        padding: 10px;
        margin: 10px auto;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    nav a {
        margin: 0 5px;
    }

    footer {
        font-size: 0.7em;
    }

    .hamburger {
        display: block; /* Show hamburger in mobile view */
    }
}



