/* General Styles */
body {
    font-family: 'Century', 'Century Gothic', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0faff;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    position: relative; /* Needed to position the hamburger and logo absolutely within the header */
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

/* Hamburger Menu */
.hamburger {
    display: block; /* Always visible */
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 10px; /* Positioned to the right */
    top: 10px;
}

/* Home Logo */
.home-logo {
    position: absolute;
    left: 10px; /* Positioned to the left */
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Side Banner */
.side-banner {
    height: 100vh;
    width: 0; /* width zero initially */
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s; /* Smooth transition */
    padding-top: 60px; /* Space from top */
}

.side-banner a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.side-banner a:hover {
    color: #f1f1f1;
    background-color: #0056ff;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

footer {
    font-size: 0.8em;
    color: #666;
    background-color: #eee;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}



